<h1>Edit a course:</h1>

<div class="row">
  <div class="span6 offset5">
    <%= form_for(@course) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :coursecode %>
      <%= f.text_field :coursecode %>

      <%= f.label :description %>
      <%= f.text_area :description, :rows => 3 %>

      <%= f.label :teacher %>
      <%= f.text_field :teacher %>

      <%= f.label :track %>
      <%= f.text_field :track %>

      <%= f.label :level %>
      <%= f.select(:level, options_for_select([[100,100],[200,200],[300,300]], @course.level)) %>

      <%= f.label :period %>
      <%= f.collection_select(:period_id, Period.all, :id, :offered_in) %>

      <%= f.label :major %>
      <%= f.collection_select(:major_id, Major.all, :id, :name) %>

      <%= f.label :prerequisite, "Prerequisites - Hold CTRL (cmd for Mac) to select multiple values" %>
      <%= f.collection_select(:prerequisites, Course.all, :id, :name, {:selected => Prerequisite.where("course_id = ?", @course.id).pluck(:prerequisite), :include_blank => true}, {:multiple => true}) %>


      <%= f.submit "Edit this course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
